*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;

}
.main{
    display: flex;
}
/*============================================
        nav css part start
==============================================*/
nav .navbar-brand img{
    width: 100%;
}
nav .nav-item a{
    color: rgb(87, 73, 73);
    margin-left: 30px;
    transition: .5s;
}
nav .nav-item a:hover{
    color: black;
}
nav .form{
    text-align: right;
}
nav .btn{
    padding: 1opx 15px;
    border: 1px solid #f5439c;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #f5439c;
    transition: .5s;
}
nav .btn:hover{
    background: #fff;
    color: #f5439c;
    border: 1px solid #f5439c;
}

/*============================================
        nav css part end
==============================================*/
.panda-bg-color{
    background: #FCEAE8;

}

/* =========================================
        footer part css end
========================================= */


        