*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.taitle{
    text-align: center;
    margin-bottom: 60px;
}
.taitle h2{
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #2d3e50;
}
.taitle p{
    width: 600px;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
}
.main{
    display: flex;
}
/*============================================
        header css part start
==============================================*/
header{
    background: #2d3e50;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    padding: 15px 0px;
}
header p{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
header a{
    color: #fff;
}
header a:hover{
    color: #fff;
}
header p i{
    margin-left: 20px;
    margin-right: 10px;
}
header .login{
    display: block;
    text-align: right;
}
header .login a{
    transition: .4s;
}
header .login a:hover{
    color: #fbaa33;
}
/*============================================
        header css part end
==============================================*/
/*============================================
        nav bar css part start
==============================================*/
nav ul{
    margin-right: 50px;
    margin-top: 35px;
}
nav ul li{
   margin-right: 30px; 
}
nav ul li a{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    transition: .4s ;
}
nav ul li a:hover{
    color: #fbaa33;
}
nav .batton a{
    margin-top: 25px;
    padding: 10px 18px;
    background: #fbaa33;
    border-radius: 5px;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: .4s !important;
}
nav .batton a:hover{
    background: #2D3E50;
}
/*============================================
        nav bar css part end
==============================================*/
/*============================================
      banner css part start
==============================================*/
#banner-part .overlay{
    padding-top: 100px;
    padding-bottom: 200px;
}
#banner-part .banner{
    background: url(../images/banner1.png) no-repeat center;
    background-size: cover;
}
#banner-part .banner .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.30);
    color: #fff;
}
#banner-part .banner .overlay h2{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}
#banner-part .banner .overlay h1{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
}
#banner-part .banner .overlay p{
    width: 600px;
    margin-top: 15px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
#banner-part .banner .overlay .batton{
    margin-top: 50px;
}
#banner-part .banner .overlay .batton a{
    padding: 10px 18px;
    background: #2D3E50;
    border-radius: 5px;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: .4s;
    margin-right: 20px;
}
#banner-part .prev{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 1;
    transition: .4s;
}
#banner-part .prev:hover{
    background: #fbaa33;
    border: 1px solid #fbaa33;
}
#banner-part .next{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transition: .4s;
}
#banner-part .next:hover{
    background: #fbaa33;
    border: 1px solid #fbaa33;
}
#banner-part .banner .overlay .batton a:hover{
    background: #fbaa33;
}
#banner-part .banner2{
    background: url(../images/Banner-02.jpg) no-repeat center;
}
#banner-part .banner3{
    background: url(../images/banner_03.jpg) no-repeat center;
}
/*============================================
      banner css part end
==============================================*/
/*============================================
      banner bottom css part start
==============================================*/
#banner-bottom {
    transform: translateY(-50%);
}
#banner-bottom .item{
    background: #F5F5F5;
    text-align: center;
    padding: 30px 0px;
    border-right: 2px solid #DADADA;
    border: 1px solid #DADADA;
    transition: .4s;
}
#banner-bottom .item:hover{
    -webkit-box-shadow: 1px -4px 36px -18px rgba(0,0,0,0.85); 
    box-shadow: 1px -4px 36px -18px rgba(0,0,0,0.85);
}
#banner-bottom .item h4{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #444444;
    margin-top: 15px;
}
#banner-bottom .item a{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    margin-top: 15px;
}
/*============================================
      banner bottom css part end
==============================================*/
/*============================================
      about css part start
==============================================*/
#about-part{
    margin-bottom: 60px;
}
#about-part .slick-slider {
  margin-left: -12%;
  margin-right: -12%;
}
.slick-slide img {
	display: block;
	width: 100%;
}
#about-part .slick-list {
  padding-left: 15%!important;
  padding-right: 15%!important;
}

#about-part .slick-dots {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#about-part .slick-track {
  max-width: 100%!important;
  transform: translate3d(0, 0, 0)!important;
  perspective: 100px;
}

#about-part .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100%!important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#about-part .slick-snext,
#about-part .slick-sprev,
#about-part .slick-snext2,
#about-part .slick-sprev2{
  display: block;
}

#about-part .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 2;
}

#about-part .slick-snext {
  opacity: 1;
  transform: translate3d(10%, 0, -10px);
  z-index: 1;
  perspective: 1000px;
}
#about-part .slick-snext2 {
  opacity: 1;
  transform: translate3d(20%, 0, -20px);
  z-index: 0;
  perspective: 1000px;
}

#about-part .slick-sprev {
  opacity: 1;
  transform: translate3d(-10%, 0, -10px);
}

#about-part .slick-sprev2 {
  opacity: 1;
  transform: translate3d(-20%, 0, -20px);
}

#about-part .slick-dots li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #00ceff;
    display: inline-block;
    margin-left: 10px;
    
}
#about-part .slick-active{
    background: #00ffa7;
}
#about-part .ditels p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    margin-top: 30px;
    margin-left: 20px;
}
#about-part .ditels a{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 12px 18px;
    border-radius: 5px;
    background: #2d3e50;
    color: #fff;
    margin-top: 35px;
    margin-left: 20px;
    transition: .4s;
}
#about-part .ditels a:hover{
    background: #fbaa33;
}
#about-part .fuck{
    margin-left: 30%;
}
/*============================================
      about css part end
==============================================*/
/*============================================
      counter css part start
==============================================*/
#counter-part{
    margin-top: 60px;
    background: url(../images/counterPartImage.png) no-repeat center;
    background-size: cover;
}
#counter-part .item{
    text-align: center;
    padding: 40px 0px;
}
#counter-part .item h2{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    color: #f1f1f1;
}
#counter-part .item p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f1f1f1;
    position: relative;
}
#counter-part .item p:after{
    position: absolute;
    bottom: -15px;
    left: 35%;
    width: 60px;
    height: 3px;
    background: #fbaa33;
    content: "";
}
#counter-part .item p:before{
    position: absolute;
    bottom: -15px;
    left: 60%;
    width: 10px;
    height: 3px;
    background: #fbaa33;
    content: "";
}
/*============================================
      counter css part end
==============================================*/
#course-part{
    margin-top: 100px;
    padding: 0;
    margin-bottom: 40px;
}
#course-part .item{
    width: 33.33%;
    margin: 0 15px;
    background: #f5f5f5;
    margin-bottom: 40px;
    padding: 20px;
}
#course-part .item .img{
    width: 100% !important;
    
    box-sizing: border-box;
    position: relative;
}
#course-part .item .img img{
    width: 100%  !important;    
}
#course-part .item .img .overlay{
    width: 100% ;
    height: 100% ;
    background: rgb(0, 0, 0,.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#course-part .item .img .overlay a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background: #fbaa33;
    font-size: 20px;
    color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#course-part .item .introduction{
    display: flex;
    padding-top: 25px;
    padding-left: 10px;
    box-sizing: border-box;
}
#course-part .item .intro img{
    width: 100%;
    padding-left: 10px;
}
#course-part .item .introduction .name p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #444444;
    padding-top: 10px;
    padding-left: 11px;
}
#course-part .item .introduction .name h2{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #444444;
    padding-top: 5px;
    padding-left: 11px;
}
#course-part .item .introduction .rating{
    text-align: right;
    margin-left: auto;
}
#course-part .item .introduction .rating ul{
    margin-bottom: 5px ; 
    margin-top: 4px;
    margin-left: 14px;
    padding: 0;
}
#course-part .item .introduction .rating ul li{
    display: inline-block;
    font-size: 12px;
    color: #fbaa33;   
}
#course-part .item .introduction .rating p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    padding-right: 6px;
}
#course-part .item .details{
    padding: 0 5px;
}
#course-part .item .details h3{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222222;
    padding-bottom: 15px;
    padding-top: 22px;
}
#course-part .item .details p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    padding-bottom: 35px;
    border-bottom: 1px solid #797979;
}
#course-part .item .duration{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
#course-part .item .duration p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #646464;
    padding-bottom: 10px;
}
#course-part .item .duration h5{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}
#course-part .item .button{
    text-align: center;
    padding-top: 10px;   
}
#course-part .item .button a{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    padding: 14px 18px;
    background: #2d3e50;
    border-radius: 8px;
    transform: translateY(75%);
}
#course-part .prev{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #2d3e50;
    color: #2d3e50;
    background: transparent;
    text-align: center;
    line-height: 55px;
    font-size: 30px;    
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: .6s;
}
#course-part .next{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #2d3e50;
    color: #2d3e50;
    background: transparent;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: -8%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .6s;
}
#course-part .prev:hover{
    background: #fbaa33;
    border-color: #fbaa33;
    color: white;
}
#course-part .next:hover{
    background: #fbaa33;
    border-color: #fbaa33;
    color: white;
}
#course-part .slick-center .details h3{
    color: #fbaa33;
}
#course-part .slick-center .img .overlay{
    opacity: 1;
}
#course-part .slick-center .button a{
    background: #fbaa33;
}
#course-part .slick-center{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
/* =========================================
        course part css end
 ========================================= */
/* =========================================
        event part css start
========================================= */
#event-part{
    margin-top: 70px;
    padding-bottom: 80px;
}
#event-part .calender img{
    width: 100%;
    padding: 0 30px;
    margin-top: 30px;
}
#event-part .item{
    background: #e0dfdf;
    margin: 20px 0;
    border: 1px solid #fff;
    transition: 1s;
}
#event-part .item .img{
    position: relative;
    padding: 15px;
}
#event-part .item .img img{
    width: 100% !important;
    padding-left: 10px ;
    box-sizing: border-box; 
}
#event-part .item .img .overlay{
    width: 23%;
    height: 23%;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #f1f1f1;
    position: absolute;
    bottom: 16px;
    right: 15px;
    background: green;
}
#event-part .item .img .red{
    background: red;
}
#event-part .item .img .overlay p{
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #f1f8ff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#event-part .item .text{

    padding: 25px 10px;
    box-sizing: border-box;
    padding-left: 25px;
}
#event-part .item .text h2{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #2d3e50;
    margin-right: 25px;
    box-sizing: border-box;
    transition: .6s;
}
#event-part .item .text p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4f4f4f;
    margin: 10px 0;
}
#event-part .item .text .icon{
    display: flex;
    color: #979797;
}
#event-part .item .text .icon p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 30px;
}
#event-part .item .text .icon p i{
    color: #18212b;
    font-size: 16px;
    display: inline-block;
    transition: .4s;
}
#event-part .item .button a{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    background: #2d3e50;
    color: white;
    border-radius: 7px;
    margin-top: 6px;
    transition: 1s;
}
#event-part .item:hover .text h2{
    color: #fbaa33;
}
#event-part .item:hover .icon p i{
    color: #fbaa33;
}
#event-part .item:hover .button a{
    background: #fbaa33;
}
#event-part .item:hover{
   
    background: #fff;
    border: 1px solid #f5f5f5;
    -webkit-box-shadow: 2px 6px 49px 5px rgba(0,0,0,0.06); 
    box-shadow: 2px 6px 49px 5px rgba(0,0,0,0.06);
    
}
/* =========================================
        event part css end
========================================= */
/*============================================
      Testimonial css part start
==============================================*/
#Testimonial-part{
    margin-top: 50px;
    background: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 60px;
}
#Testimonial-part .slick-slider {
  margin-left: -15%;
  margin-right: -15%;
}

#Testimonial-part .slick-list {
  padding-left: 15%!important;
  padding-right: 15%!important;
}

#Testimonial-part .slick-dots {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#Testimonial-part .slick-track {
  max-width: 100%!important;
  transform: translate3d(0, 0, 0)!important;
  perspective: 100px;
}

#Testimonial-part .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100%!important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}

#Testimonial-part .slick-snext,
#Testimonial-part .slick-sprev,
#Testimonial-part .slick-snext2,
#Testimonial-part .slick-sprev2{
  display: block;
}

#Testimonial-part .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 2;
}

#Testimonial-part .slick-snext {
  opacity: 1;
  transform: translate3d(10%, 0, -10px);
  z-index: 1;
  perspective: 1000px;
}
#Testimonial-part .slick-snext2 {
  opacity: 1;
  transform: translate3d(20%, 0, -20px);
  z-index: 0;
  perspective: 1000px;
}

#Testimonial-part .slick-sprev {
  opacity: 1;
  transform: translate3d(-10%, 0, -10px);
}

#Testimonial-part .slick-sprev2 {
  opacity: 1;
  transform: translate3d(-20%, 0, -20px);
}

#Testimonial-part .slick-dots li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #00ceff;
    display: inline-block;
    margin-left: 10px;
    
}
#Testimonial-part .ditels p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
    margin-top: 30px;
    margin-left: 20px;
}
#Testimonial-part .ditels a{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 12px 18px;
    border-radius: 5px;
    background: #2d3e50;
    color: #fff;
    margin-top: 35px;
    margin-left: 20px;
    transition: .4s;
}
#Testimonial-part .ditels a:hover{
    background: #fbaa33;
}
#Testimonial-part .fuck{
    padding-left: 25px;
}

#Testimonial-part .prev{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background: #2d3e50;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 68%;
    left: -40px;
    transform: translateY(-50%);
    z-index: 1;
    transition: .4s;
}
#Testimonial-part .prev:hover{
    background: #fbaa33;
}
#Testimonial-part .next{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background: #2d3e50;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 38%;
    left: -40px;
    transform: translateY(-50%);
    z-index: 1;
    transition: .4s;
}
#Testimonial-part .next:hover{
    background: #fbaa33;
}
#Testimonial-part .item .text-p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    line-height: 30px;
    padding: 20px 0px;
}
#Testimonial-part .item{
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
#Testimonial-part .item .text-h3{
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #444444;
    padding-bottom: 10px;
    transition: .4s;
}
#Testimonial-part .item span{
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    padding-left: 10px;
}
#Testimonial-part .item .icon i{
    color: #fbaa33;
    font-size: 20px;
}
#Testimonial-part .accordion-button:not(.collapsed){
    background: #fbaa33;
    color: #000;
}
#Testimonial-part .accordion-button {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
    width: 100%;
    text-align: left;
    padding: 16px 20px;
}
#Testimonial-part .accordion-body {
    font-size: 16px;
    color: #444444;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    padding-top: 30px;
    background: white;
} 
#Testimonial-part .accordion-button::after{
    background-image: none;
}
#Testimonial-part .accordion-button{
    position: relative;
    transition: .4s;
}
#Testimonial-part .accordion-button i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(180deg);
}
#Testimonial-part .collapsed i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(0deg);
}

/*============================================
      Testimonial css part end
==============================================*/
/* =========================================
        teacher part css start
========================================= */
#teacher-part{
    padding-top: 80px;
    padding-bottom: 60px;
}
#teacher-part .slick-slide img {
    display: block;
    width: 25%;
}
#teacher-part .item{
    position: relative;
}
#teacher-part .item .img{
    margin: 0 15px;
    padding-bottom: 100px;
}
#teacher-part .item .img img{
    width: 100%;    
}
#teacher-part .item .text{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: -125px;
    position: absolute;
    top: 100%;
    left: 0;
    padding-bottom: 40px;
    transition: .6s;
}
#teacher-part .item .text ul{
    margin: 0;
    padding: 0;
}
#teacher-part .item .text ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2d3e50;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
    transition: .6s;
    opacity: 0;
}
#teacher-part .item .text ul li i{
    color: #fff;
}
#teacher-part .item .text h3{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #444444;    
    padding-bottom: 5px;   
}
#teacher-part .item .text p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #444444;
    padding-bottom: 7px;
}
#teacher-part .item .text img{
    margin: 0 auto;   
}
#teacher-part .item:hover .text ul li{
    margin-bottom: 15px;
    opacity: 1;
}
#teacher-part .item .text ul li:hover{
    background: #fbaa33;
    color: #fff;
}
/* =========================================
        teacher part css end
========================================= */
/* =========================================
        blog part css start
========================================= */

#blog-part .taitle{
    background: #2d3e50;
    padding-top: 50px;
    padding-bottom: 200px;
    margin-bottom: -140px;;
}
#blog-part .taitle h2{
    color: #fff;
}
#blog-part .taitle p{
    color: #fff;
}
#blog-part .big{
    margin-bottom: 30px;
}
#blog-part .big .img img{
    width: 100% ;   
}
#blog-part .big .img{
    position: relative;
}
#blog-part .big .img .overlay{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,.5);
    position: absolute;
    top: 0;
    left: 0;
}
#blog-part .big .img .overlay .icon ul{
    margin-top: 40px;
    margin-right: 15px;
    opacity: 0;
    transition: .6s;
}
#blog-part .big .img .overlay .icon ul li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2d3e50;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-bottom: 15px;
    transition: .6s;
}
#blog-part .big .img .overlay .icon ul li i{
    color: #fff;
}
#blog-part .big .img .overlay .text h2 a{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 0 30px;
    padding-top: 35px;
}
#blog-part .big .img .overlay .text h3 a{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    padding: 0 30px;
    padding-bottom: 10px;
}
#blog-part .big .img .overlay .text-footer{
    opacity: 0;
    transition: .6s;
}
#blog-part .big .img .overlay .text-footer a{
    color: #fff;
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
    
}
#blog-part .big .img .overlay .icon ul li:hover{
    background: #fbaa33;
    color: #fff;
}
#blog-part .big .img .overlay .text-footer a i{
    padding-right: 5px;
}
#blog-part .big .img .overlay .text-footer .date{
    padding-left: 42px;
}
#blog-part .big .img .overlay .text-footer .eye{
    padding-left: 35px;
}
#blog-part .big .img:hover .overlay .icon ul{
    opacity: 1;
}
#blog-part .big .img:hover .overlay .text-footer{
    opacity: 1;
}
#blog-part .small .img img{
    width: 100%;   
}
#blog-part .small .img{
    position: relative;
    margin: 0 4px;
}
#blog-part .small .img .overlay{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,.5);
    position: absolute;
    top: 0;
    left: 0;
}
#blog-part .small .img .overlay .icon ul{
    margin-top: 20px;
    margin-right: 15px;
    opacity: 0;
    transition: .6s;
}

#blog-part .small .img .overlay .icon ul li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #2d3e50;
    font-size: 17px;
    text-align: center;
    line-height: 35px;
    margin-left: auto;
    margin-bottom: 10px;
    transition: .6s;
}
#blog-part .small .img .overlay .icon ul li i{
    color: #fff;
}
#blog-part .small .img .overlay .text h2 {
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 2px;
}
#blog-part .small .img .overlay .text h3 {
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    padding-left: 20px;
    padding-top: 3px;
}
#blog-part .small .img .overlay .text h3 a{
    color: #fff;
}
#blog-part .small .img .overlay .icon ul li:hover{
    background: #fbaa33;
    color: #fff;
}
#blog-part .small .img:hover .overlay .icon ul{
    opacity: 1;
}
/* =========================================
        blog part css end
========================================= */
/* =========================================
        contact part css start
========================================= */
#contact-part{
    background: #2d3e50;
    padding-top: 50px;
}
#contact-part .left p{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 14px;
    padding-top: 25px;
    color: #fff;
}
#contact-part .left ul{
    padding: 0;
}
#contact-part .left ul li{
    display: inline-block;  
}
#contact-part .left ul li a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: #2d3e50;
    font-size: 20px;
    margin-right:15px;
    margin-top: 35px;
    transition: .6s;
}
#contact-part .left ul li a:hover{
    background: #fbaa33;
    color: #fff;
}
#contact-part .center{
    color: #fff;
}
#contact-part .center h2{
    font-family: 'Arimo';
    font-weight: 700;
    font-size: 22px;
    padding-top: 25px;
    padding-bottom:45px;
    padding-left: 20px;
}
#contact-part .center ul {
    padding: 0;
}
#contact-part .center ul li{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 25px;
}
#contact-part .center ul li a{
    color: #fff;
    transition: .6s;
}
#contact-part .center ul li a:hover{
    color: #fbaa33;
}
#contact-part .right{
    color: #fff;
}
#contact-part .right h2{
    font-family: 'Arimo';
    font-weight: 700;
    font-size: 22px;
    padding-top: 25px;
    padding-bottom:45px;
    padding-left: 20px;
}
#contact-part .right .icon ul{
    padding: 0;
}
#contact-part .right .icon ul li{
    padding-left: 20px;
    padding-bottom: 37px;
}
#contact-part .right .icon ul li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    background: #fff;
    color: #2d3e50;
    transition: .6s;
}
#contact-part .right .icon ul li a:hover{
    background: #fbaa33;
    color: #fff;
}
#contact-part .right .address{
    padding-left: 30px;
}
#contact-part .right .address h3{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    color: #fbaa33;
}
#contact-part .right .address p{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding-bottom: 25px;
}
/* =========================================
        contact part css end
========================================= */
/* =========================================
        footer-img part css start
========================================= */
#footer-img .img img{
    width: 100%;
}
#footer-img .img{
    position: relative;
}
#footer-img .img .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0,.5);
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s;
}
#footer-img .img .overlay a{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 14px;
    padding: 10px 10px;
    background: white;
    color: #1b242e;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#footer-img .img:hover .overlay{
    opacity: 1;
}
/* =========================================
        footer-img part css end
========================================= */


/* =========================================
        footer part css start
========================================= */
footer{
    background: #2d3e50;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
footer p{
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
footer p span{
    color: #fbaa33;
}
/* =========================================
        footer part css end
========================================= */